.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background-color: rgb(30, 30, 30);
    font-family: 'inconsolata', monospace;
    color: white;
}

.header{
    display: flex;
}

.init-p{
    line-height: 1.5;
}

.init-p .term-line {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.init-p .term-line.visible {
      opacity: 1;
      visibility: visible;
    }