.terminal {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 17px;
    display: flex;
    flex-direction: column;

}

.terminal input {
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
    outline: none;
    font-family: 'Inconsolata', monospace;
    font-size: 17px;
    width: 70%;
}

.terminal div {
    gap: 10px;
}

.input {
    display: flex;
}